/* You can add global styles to this file, and also import other style files */
:root {
    --orange-red: #FF4500;
    --vivid-pink: #FF007F;
    --electric-violet: #8A2BE2;
    --grey: #E4E7E9;
    --theme-color: #7F56DA;
    --theme-color-secondary: #C2BCDD;
}

html,
body {
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    font-family: "Poppins", Roboto, "Helvetica Neue", sans-serif;
}